{% extends "base.html" %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
    <div class="topcorner" xmlns="http://www.w3.org/1999/html">
        <ul class="nav navbar-nav navbar-right">
            <div class="dropdown" id="ddown">
                <button class="btn dropdown-toggle btn-lg" type="button" data-toggle="dropdown"
                        style="font-size:15px; height:50px; width:120px">User Actions
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="/accounts/create_user/">
                            <span class="glyphicon glyphicon-user"></span> Create User</a></li>
                        <li><a href="/accounts/list_users/">
                            <span class="glyphicon glyphicon-th-list"></span> List All Users</a></li>
                        <li><a href="/accounts/list_users/">
                            <span class="glyphicon glyphicon-remove"></span> Delete User</a></li>
                        <li><a href="/accounts/update/">
                            <span class="glyphicon glyphicon-edit"></span> Edit User</a></li>
                    </ul>
                </div>
            <div id="id_li">
                <li><span class="glyphicon glyphicon-user"></span> Welcome {{user}}</li>
            </div>
            <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>

    <div class="container">
        <h2>CI/CD Process</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
            <li><a data-toggle="tab" href="#menu1">Development Team</a></li>
            <li><a data-toggle="tab" href="#menu2">Version Control Systems</a></li>
            <li><a data-toggle="tab" href="#menu3">Build & Unit Test</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>HOME</h3>
                <p>Welcome to DevOps Dashboard for CI/CD</p>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>Development Team 1</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="menu2" class="tab-pane fade">
                <div class="form-group">
                    <label for="vcs">List of Version Control Tools:</label>
                    <select class="form-control" id="vcs" name="vcs" title="Select Version Controler">
                        <option value="">Select Tool</option>
                        <option onclick="show('GithubInfo')">GitHub</option>
                        <option>SVN</option>
                    </select>
                </div>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>Build & Unit Test</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>

        <div id="GithubInfo" style="display:none">
            <div class="form-bottom">
                <form id='id_form_submit' role="form" action="" method="post" class="git-form">{% csrf_token %}
                    <h4>Authentication to Github</h4>
                    <div class="form-group">
                        <label class="sr-only" for="username">Username</label>
                        <input type="text" name="username" value="nvkgrandhi" placeholder="Username..." class="form-username form-control" id="username">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" name="password" value="Enter Password" placeholder="Password..." class="form-password form-control" id="password">
                    </div>
                    <button type="submit" class="btn btn-default">Authenticate!</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container" id="id_repo" style="display:none; width:500px;">
        <h4 class="text-center" style="color:green">Provide Below Details To Show
            <strong>GitHub Statistics</strong> & To Start <strong>BUILD Process</strong></h4>
        <label for="sltOption">Select Repository</label>
            <select id="sltOption" name="sltOption" class="form-control" title="Select Repository">
                <option value="">Select Project</option>
            </select>
        <label for="sltBranch">Select Branch</label>
            <select id="sltBranch" name="sltBranch" class="form-control" title="Select Branch">
                <option value="">Select Branch</option>
            </select>
        <button onclick=show('table_resp') type="submit" class="btn btn-default" id="id_git"
                style="margin-top:20px; background-color:#4CAF50; color: white;">Show Github Statistics</button>
        <button onclick="myFunction1()" type="submit" class="btn btn-default"
                style="margin-top:20px; background-color:blue; color: white;">Start Build Process</button>
    </div>

    <!--<&#45;&#45; onclick="show('gitStat')" &ndash;&gt; -->
    <!--<div id="gitStat" style="display:none">-->
        <!--<h1>Github User Data</h1>-->
    <!--</div>-->
    <div class="table-responsive" id="table_resp" style="display:none">
        <table class="table table-bordered table-hover table-striped tablesorter">
            <thead>
                <tr>
                    <th class="header"> Username <i class="icon-sort"></i></th>
                    <th class="header"> Blog <i class="icon-sort"></i></th>
                    <th class="header"> Public Repos <i class="icon-sort"></i></th>
                    <th class="header"> Public Gists <i class="icon-sort"></i></th>
                    <th class="header"> Email <i class="icon-sort"></i></th>
                    <th class="header"> Followers <i class="icon-sort"></i></th>
                    <th class="header"> Following <i class="icon-sort"></i></th>
                </tr>
            </thead>
            <tbody id="records_table">
            </tbody>
            <div id="loadingmessage2" style="display:none" class="text-center">
                <h4>Please Wail!................</h4>
            </div>
        </table>
    </div>
    <div id="loadingmessage" style="display:none" class="text-center">
        <p>Please Wail!................</p>
    </div>

    <style>
        .topcorner {
            position:absolute;
            top:3px;
            right: 10px;
         }
        #ddown {
            position:absolute;
            top:0px;
            right:200px;
        }
        #id_li {
            position: absolute;
            top:15px;
            right:-5px;
            width:200px
        }
        .form-group {
            max-width: 250px;
            padding: 15px;
            /* margin: 0 auto; */
        }
        #table_resp{
            width: 1024px;
			min-height: 250px;
			margin: 0px auto;
			margin-top: 20px;
			border: 1px solid #333;
        }
    </style>

    <script type="text/javascript">

        $(document).on('submit', '#id_form_submit', function(e){
            e.preventDefault();
            $('#loadingmessage').show();
            $.ajax({
                type:'POST',
                url:'../git_authenticate/',
                dataType:'json',
                data:{
                        name:$('#username').val(),
                        pwd:$('#password').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                     },
                success:function(response){
                    var data = response.data;
                    var toAppend = '';
                    for (var i=0; i<data.length; i++){
                        toAppend += '<option>'+data[i]+'</option>';
                    }
                    $("#sltOption").append(toAppend);
                    $('#id_form_submit').hide();
                    $('#loadingmessage').hide();
                    $('#id_repo').show();
                }
            });
        });

        $(document).ready(function(){
            $('#sltOption').change(function(){
                $.ajax({
                    type:'POST',
                    url:'../branches/',
                    dataType:'json',
                    data: {
                        uname: $('#username').val(),
                        repo_name: $('#sltOption option:selected').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success:function(response){
                        var data = response.data;
                        var toAppend = '';
                        for (var i=0; i<data.length; i++){
                            toAppend += '<option>'+data[i]+'</option>';
                        }
                        $("#sltBranch").html(toAppend);
                    }
                });
            });
        });

        function show(ele) {
            var srcElement = document.getElementById(ele);
            if(srcElement != null) {
                if(srcElement.style.display == 'none') {
                    srcElement.style.display= 'block';
                }
                else {
                    srcElement.style.display='none';
                }
            return false;
            }
        }

        function myFunction1() {
            window.open("http://10.76.205.223:8080", "_blank", "toolbar=yes," +
                    "scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
        }

        $(document).ready(function(){
            $('#id_git').click(function(){
                /* console.log($('#username').val());
                console.log($('#sltOption option:selected').val());
                console.log($('#sltBranch option:selected').val()); */
                $('#loadingmessage2').show();
                $.ajax({
                    type:'POST',
                    url:'../git_statistics/',
                    dataType:'json',
                    data:{
                            uname: $('#username').val(),
                            rep_name: $('#sltOption option:selected').val(),
                            br_name: $('#sltBranch option:selected').val(),
                            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success:function(response){
                        console.log(response);
                        var trHTML = '';
                        $.each(response, function(i, item){
                            trHTML += '<tr><td>'+item.name+
                                        '</td><td>'+item.blog+
                                        '</td><td>'+item.public_repos+
                                        '</td><td>'+item.public_gists+
                                        '</td><td>'+item.email+
                                        '</td><td>'+item.followers+
                                        '</td><td>'+item.following+'</td></tr>';
                        });
                        $('#records_table').html(trHTML);
                        $('#loadingmessage2').hide();
                        /* $('#table-responsive').show(); */
                        /* $('<tr>').html($('td').text(item.name).append('#records_table'); */
                    }
                });
            });
        });
    </script>
{% endblock %}
