<!DOCTYPE html>
<html>
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <h1 class="text-center"> Github Repositories Data </h1>
    <div class="col-lg-12">
    <style>
        .form-group {
        max-width: 550px;
        padding: 15px;
        margin: 0 auto;
        }
    </style>
    </div>

    <!--<div class="container">-->

        <!--<h3>-->
            <!--<select name="branch" id="branch">-->
                <!--<option value="">Select Repo</option>-->
            <!--</select>-->
            <!--<div class="row" id="show_branch">-->

            <!--</div>-->
        <!--</h3>-->

    <!--</div>-->
    <!--<script>-->
        <!--$(document).ready(function(){-->
            <!--$('#branch').change(function(){-->
                <!--var branch_id = $(this).val();-->

                <!--$.ajax({-->
                    <!--url:'http://127.0.0.1:8001/accounts/branch/',-->
                    <!--method:'POST',-->
                    <!--data:{branch_id:branch_id},-->
                    <!--success:function(data){-->
                        <!--$('#show_product').html(data);-->
                    <!--}-->
                <!--});-->
        <!--});-->
    <!--</script>-->

    <!--<form method="post" action="/accounts/branch/" name="RepoData">{% csrf_token %}-->
        <!--<div class="form-group">-->
            <!--<label for="repo">Select Repository</label>-->
            <!--<select class="form-control" id="repo" name="repo" title="Select Repository">-->
                <!--<option value=""></option>-->
                    <!--{% for dt in data %}-->
                        <!--<option>{{ dt }}</option>-->
                    <!--{% endfor %}-->
            <!--</select>-->
            <!--<button type="submit" class="btn btn-default">Get Branches</button>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="branch">Select Branches</label>-->
            <!--<select class="form-control" id="branch" name="branch" title="Select Branch">-->
                <!--<option value=""></option>-->
                <!--{% for rd in rbdata %}-->
                    <!--<option>{{ rd }}</option>-->
                <!--{% endfor %}-->
            <!--</select>-->
        <!--</div>-->
    <!--</form>-->
    <!--<div id="container">-->
        <!--<table border="1">-->
            <!--<tr class="hideShowTr" id="rep"  style="display: none;">-->
                <!--{% for rd in rbdata %}-->
                    <!--<td>{{ rd }}</td>-->
                <!--{% endfor %}-->
            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->

    <!--<script>-->
        <!--$('#repo').change(function() {-->
            <!--$('tr#' + $(this).val()).css('display','block');-->
        <!--});-->
    <!--</script>-->
           <!--<div id="PersonalInfo1" style="display:none">-->
            <!--<div class="form-group">-->
                <!--<label for="branch">Select Branch:</label>-->
                <!--<select class="form-control" id="branch" name="branch" title="Select branch">-->
                    <!--<option value=""></option>-->
                        <!--{% for rd in rbdata %}-->
                            <!--<option>{{ rd }}</option>-->
                        <!--{% endfor %}-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label for="repo">Select Repository</label>
            <select class="form-control" id="repo" name="repo" title="Select Repository">
                <option value=""></option>
                    {% for dt in data %}
                        <option>{{ dt }}</option>
                    {% endfor %}
            </select>

            <label for="branch">Select Branch:</label>
                    <select class="form-control" id="branch" name="branch" title="Select branch">
                        <option value=""></option>
                            {% for rd in rbdata %}
                                <option>{{ rd }}</option>
                            {% endfor %}
                    </select>

            <label for="commits">Commits:</label>
                <select class="form-control" id="commits" name="commits" title="Select branch">
                    <option value=""></option>
                    {% for ct in commits %}
                        <option>{{ ct }}</option>
                    {% endfor %}
                </select>
        </div>

        <!--<h3 style="text-align: center"> Total Commits: {{ total_comits }}</h3>-->

    <!--<form method="post" action="" name="RepoData">{% csrf_token %}-->
    <!--<div class="form-group">-->
        <!--<label for="repo">Select Repository</label>-->
        <!--<select class="form-control" id="repo" name="repo" title="Select Repository">-->
            <!--<option value=""></option>-->
                <!--{% for dt in data %}-->
                    <!--<option>{{ dt }}</option>-->
                <!--{% endfor %}-->
        <!--</select>-->
    <!--</div>-->
    <!--</form>-->
    <!--<div id="result">-->
    <!--</div>-->

    <!--<script type="text/javascript">-->
        <!--$(document).ready(function() {-->

            <!--$("#repo").change(function() {-->
                <!--var data = $('#repo').val();-->
                <!--console.log(" ============= repos");-->
                <!--console.log(data);-->
                <!--$.ajax({-->
                    <!--url:'../branch/'+data+'/',-->
                    <!--type:'POST',-->
                    <!--dataType: 'json',-->
                    <!--c_data:{'client_data': data},-->
                    <!--success:function(c_data){-->
                        <!--$('#result').html(c_data);-->
                    <!--},-->
                    <!--error:function(){-->
                    <!--}-->
                <!--});-->
            <!--});-->
        <!--});-->
    <!--</script>-->



</body>
</html>

