<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text">
        <h1><strong>Bootstrap</strong> Login Form</h1>
        <div class="description">
            <p>
                This is a free responsive login form made with Bootstrap.
                Download it on <a href="http://azmind.com"><strong>AZMIND</strong></a>, customize and use it as you like!
            </p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6 col-sm-offset-3 social-login">
        <h3>...or login with:</h3>
        <div class="social-login-buttons">
            <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                <i class="fa fa-facebook"></i> Facebook
            </a>
            <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                <i class="fa fa-twitter"></i> Twitter
            </a>
            <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                <i class="fa fa-google-plus"></i> Google Plus
            </a>
        </div>
    </div>
</div>



<div class="topcorner">
        <ul class="nav navbar-nav navbar-right">
            <a href="#" class="btn btn-info">
                <span class="glyphicon glyphicon-log-out"></span> Log out</a>
        </ul>
    </div>
    <style>
    .topcorner{
        position:absolute;
        top:5px;
        right: 10px;
     }
    </style>


    {% if info.message %}
        {{info.message}}
    {% elif info.message_i %}
        {{info.message_i}}
    {% elif info.message_ii %}
        {{info.message_ii}}
    {% elif info.message_iii %}
        {{info.message_iii}}
    {% elif info.message_iv %}
        {{info.message_iv}}
    {% elif info.message_v %}}
        {{info.message_v}}
    {% elif info.data %}
        {{info.data}}
    {% elif info.message_vi %}
        {{info.message_vi}}
    {% else info.message_vii %}
        {{info.message_vii}}
    {% endif %}




{% for ms in info %}-->
        <!--{{ms.message}}-->
        <!--{{ms.message_i}}-->
        <!--{{ms.message_ii}}-->
        <!--{{ms.message_v}}-->
        <!--{{ms.data}}-->
    <!--{% endfor %}


<!--{% for message in messages %}-->
        <!--{{message}}<br />-->
    <!--{% endfor %}-->