{% extends "base.html" %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
    <div class="topcorner">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <!--<p> Welcome {{user}} </p>-->
            <p>Page Needs to be created for user | TODO</p>
            <a href="/accounts/user_view/" class="btn btn-primary">Return to Home Page</a>

        </div>
    </div>

    <style>
        .topcorner{
            position:absolute;
            top:3px;
            right: 10px;
         }
    </style>
{% endblock %}
