{% extends 'base.html' %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
    <div class="topcorner">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/"><span class="glyphicon glyphicon-arrow-left"></span> Back</a></li>
        </ul>
    </div>
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Login to our site</h3>
                            <p>Enter your username and password to log on:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    {% if error %}
                        <p> {{ error }}</p>
                    {% endif %}
                    <div class="form-bottom">
                        <form role="form" action="/accounts/login/" method="post" class="login-form">{% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="username">Username</label>
                                <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="password">
                            </div>
                            <button type="submit" class="btn">Sign in!</button>
                            <a href="/accounts/login_page/"><span class="glyphicon glyphicon-refresh"></span> Refresh</a></li>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
    .topcorner{
        position:absolute;
        top:3px;
        right:10px;
     }
    .inner-bg {
        padding: 100px 0 170px 0;
    }
    .form-box {
        margin-top: 35px;
    }
    .form-top {
        overflow: hidden;
        padding: 0 25px 15px 25px;
        background: #fff;
        -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
        text-align: left;
    }

    .form-top-left {
        float: left;
        width: 75%;
        padding-top: 25px;
    }

    .form-top-left h3 { margin-top: 0; }

    .form-top-right {
        float: left;
        width: 25%;
        padding-top: 5px;
        font-size: 66px;
        color: #ddd;
        line-height: 100px;
        text-align: right;
    }

    .form-bottom {
        padding: 25px 25px 30px 25px;
        background: #eee;
        -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
        text-align: left;
    }

    .form-bottom form textarea {
        height: 100px;
    }

    .form-bottom form button.btn {
        width: 100%;
    }

    .form-bottom form .input-error {
        border-color: #4aaf51;
    }
    button.btn {
        height: 30px;
        margin: 0;
        padding: 0 20px;
        vertical-align: middle;
        background: #4aaf51;
        border: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        color: #fff;
    }
    button.btn:hover {
        opacity: 0.6; color: #fff;
    }
    </style>
{% endblock %}
